[Desktop Entry]
Type=Application
Name=Alien
GenericName=Predator Hardware Control
Comment=Fan, lighting and performance control for Acer Predator systems
Exec=alien-launch
Icon=tech.hartle.Alien
Terminal=false
Categories=System;Settings;HardwareSettings;
Keywords=fan;rgb;keyboard;backlight;temperature;performance;gpu;acer;predator;
StartupNotify=true
